---
- name: "Restart {{ double_take_service_name }}"
  become: true
  changed_when: true
  ansible.builtin.systemd:
    name: "{{ double_take_service_name }}"
    state: stopped
  notify: Reload systemd

- name: "Reload systemd"
  become: true
  changed_when: true
  ansible.builtin.systemd:
    daemon_reload: true
  notify: "Start {{ double_take_service_name }}"

- name: "Start {{ double_take_service_name }}"
  become: true
  ansible.builtin.systemd:
    name: "{{ double_take_service_name }}"
    enabled: true
    state: started

- name: "Restart {{ compreface_service_name }}"
  ansible.builtin.systemd:
    name: "{{ compreface_service_name }}"
    state: restarted
    daemon_reload: true
  become: true
