---
- name: Create double-take user
  ansible.builtin.user:
    name: "{{ double_take_user }}"
    system: true
    shell: /bin/false
    home: "{{ double_take_data_dir }}"
    createhome: false
  become: true

- name: Get double-take user info
  ansible.builtin.user:
    name: "{{ double_take_user }}"
  register: double_take_user_info
  become: true

- name: Create double-take directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ double_take_user }}"
    group: "{{ double_take_user }}"
    mode: "{{ item.mode }}"
  loop:
    - {path: "{{ double_take_config_dir }}", mode: "0755"}
    - {path: "{{ double_take_data_dir }}", mode: "0755"}
    - {path: "{{ double_take_config_dir }}/docker-compose", mode: "0755"}
    - {path: "{{ double_take_config_dir }}/nginx", mode: "0755"}
    - {path: "{{ double_take_config_dir }}/certs", mode: "0755"}
  become: true

- name: Copy TLS certificate
  ansible.builtin.copy:
    src: "/etc/ssl/certs/{{ fqdn }}.crt"
    dest: "{{ double_take_config_dir }}/certs/fullchain.pem"
    remote_src: true
    mode: "0644"
  become: true
  notify:
    - Restart double-take

- name: Copy TLS private key
  ansible.builtin.copy:
    src: "/etc/ssl/private/{{ fqdn }}.pem"
    dest: "{{ double_take_config_dir }}/certs/privkey.pem"
    remote_src: true
    mode: "0600"
  become: true
  notify:
    - Restart double-take

- name: Create nginx configuration file
  ansible.builtin.template:
    src: double-take/nginx.conf.j2
    dest: "{{ double_take_config_dir }}/nginx/nginx.conf"
    owner: "{{ double_take_user }}"
    group: "{{ double_take_user }}"
    mode: "0644"
  become: true
  notify:
    - Restart double-take

- name: Create Double Take Docker Compose file
  ansible.builtin.template:
    src: double-take/docker-compose.yml.j2
    dest: "{{ double_take_config_dir }}/docker-compose/docker-compose.yml"
    owner: "{{ double_take_user }}"
    group: "{{ double_take_user }}"
    mode: "0644"
  become: true
  notify:
    - Restart double-take

- name: Create Double Take systemd service
  ansible.builtin.template:
    src: double-take/double-take.service.j2
    dest: /etc/systemd/system/{{ double_take_service_name }}.service
    mode: "0644"
  become: true
  notify:
    - Restart double-take

- name: Enable Double Take service without starting
  ansible.builtin.systemd:
    name: "{{ double_take_service_name }}"
    enabled: true
    daemon_reload: true
  become: true
