---
- name: Install system packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - curl
    - wget
    - systemd
    - docker-compose
  become: true
