---
- name: Double Take server configuration
  hosts: double-take
  vars:
    hostname: double-take
    domain: local.iamrobertyoung.co.uk
    fqdn: "{{ hostname }}.{{ domain }}"

  roles:
    - role: configure-system
      tags: [configure-system]

    - role: shell
      tags: [shell]
      vars:
        shell_hostname: "{{ hostname }}"
        shell_user: noxious
        shell_home_directory: /home/noxious

    - role: shell
      tags: [shell]
      vars:
        shell_hostname: "{{ hostname }}"
        shell_user: root
        shell_home_directory: /root
        shell_show_pretty_info: false

    - role: docker
      tags: [docker]

    - role: telegraf
      tags: [telegraf]
      vars:
        telegraf_influxdb_url: "https://influxdb.{{ domain }}"
        telegraf_influxdb_port: 8086
        telegraf_influxdb_organisation: "0dd8df669872ba9e"
        telegraf_influxdb_token: "{{ lookup('amazon.aws.aws_ssm', '/home-server/influxdb-token') }}"
        telegraf_influxdb_bucket: "home-server"

    - role: step-ca-client
      tags: [step-ca-client]
      vars:
        step_ca_client_provisioner_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/step-ca-ansible-password') }}"
        step_ca_client_post_renew_commands: []
        step_ca_client_cert_not_after: "168h" # 7 days

    - role: syslog
      tags: [syslog]
      vars:
        syslog_fqdn: "{{ fqdn }}"

    - role: wazuh-agent
      tags: [wazuh-agent]

    - role: certbot
      tags: [certbot]
      vars:
        certbot_domain: "{{ fqdn }}"
        certbot_aws_access_key: "{{ lookup('amazon.aws.aws_ssm', '/home-server/certbot-access-key') }}"
        certbot_aws_secret_access_key: "{{ lookup('amazon.aws.aws_ssm', '/home-server/certbot-secret-access-key') }}"
        certbot_deploy_hook_script: "../roles/double-take/files/certbot/deploy-hook.sh"

    - role: double-take
      tags: [double-take]
      vars:
        backup_aws_access_key: "{{ lookup('aws_ssm', '/home-server/access-key', region='eu-west-2') }}"
        backup_aws_secret_access_key: "{{ lookup('aws_ssm', '/home-server/secret-access-key', region='eu-west-2') }}"
        backup_aws_region: eu-west-2
        backup_mosquitto_password: "{{ lookup('aws_ssm', '/home-server/mosquitto-home-assistant-password', region='eu-west-2') }}"
